.container{
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.card{
   margin-bottom: 50px;
}
.card-img-top{
    height: 200px;
}
.bttns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
body{
    scroll-behavior: smooth;
    background-color: rgb(47, 12, 80);
  
}