.container{
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.heading{
    color: aliceblue;
}
.card{
   margin-bottom: 50px;
}
.card-img-top{
    height: 200px;
}
.bttns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
body{
    scroll-behavior:smooth;
    background-image: linear-gradient(to bottom right, rgba(215, 151, 41, 0.86), rgb(255, 255, 255)); 
}

/* For loader */
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-bottom: 5px solid red;
    border-radius: 50%;
    animation-name: ring;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;

}
@keyframes ring{
    0%{
        transform: rotate(-360deg);
    }
}